<div class="card">
  <div class="card-header" style="text-align: center">
    <h3 class="card-title">Applications</h3>
    <hr />
  </div>
  <div class="card-body">
    <span class="table-responsive">
      <table class="table" id="table" #table>
        <thead class="text-primary">
          <th>Name</th>
          <th>Position</th>
          <th>Summary</th>
          <th>Location</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let application of applications"
            data-toggle="tooltip"
            data-placement="top"
            data-delay='{ "show": 300, "hide": 100 }'
            [ngClass]="{
              'table-danger': application.status === 'Rejected',
              'table-success': application.status === 'Accepted'
            }"
          >
            <td>{{ application.name }}</td>
            <td>{{ application.position }}</td>
            <td>{{ application.summary }}</td>
            <td>{{ application.location }}</td>
            <td>{{ application.status }}</td>
          </tr>
        </tbody>
      </table>
    </span>
  </div>
</div>
