<div class="modal-header">
  <h4 class="modal-title" style="text-align: center" id="modal-basic-title">
    Profile update
  </h4>
  <button
    type="button"
    class="btn btn-danger btn-close"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    X
  </button>
</div>
<div class="modal-body">
  <!-- Should pass user id -->
  <app-user [inModal]="inModal"></app-user>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onClickAccept()">
    Accept
  </button>
  <button type="button" class="btn btn-danger" (click)="onClickReject()">
    Reject
  </button>
  <button type="button" class="btn btn-warning" (click)="onClickCancel()">
    Cancel
  </button>
</div>
