<!-- <div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input
          type="email"
          placeholder="Email"
          autocomplete="nope"
          formControlName="email"
        />
      </div>
      <div class="input-field">
        <input
          type="password"
          placeholder="Password"
          autocomplete="new-password"
          formControlName="password"
        />
      </div>
    </div>
    <div class="action">
      <button type="button" (click)="switchToRegister()">Register</button>
      <button>Sign in</button>
    </div>
  </form>
</div> -->

<div class="container">
  <button
    *ngIf="!isLoggedIn"
    class="btn btn-primary"
    (click)="login()"
    type="submit"
  >
    Login
  </button>
  <div *ngIf="isLoggedIn" class="content">
    <span>Welcome !!</span>
    <a class="btn btn-default pull-right" (click)="logout()" href="#">Logout</a>
    <br />
    <app-register></app-register>
  </div>
</div>
