<div class="row">
  <div class="card col-md-12">
    <span class="card-header">
      <h4 class="card-title">Applicants</h4>
    </span>
    <span class="card-body">
      <span class="table-responsive">
        <table class="table" id="table" #table>
          <thead class="text-primary">
            <th>Name</th>
            <th>Surname</th>
            <th>E-Mail</th>
            <th>Experience</th>
            <th>Location</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let applicant of applicants"
              (click)="onClickApplicant(applicant)"
              data-toggle="tooltip"
              data-placement="top"
              data-delay='{ "show": 300, "hide": 100 }'
              title="Click to inspect applicant!"
            >
              <td>{{ applicant.firstname }}</td>
              <td>{{ applicant.lastname }}</td>
              <td>{{ applicant.email }}</td>
              <td>{{ applicant.experience }}</td>
              <td>{{ applicant.location }}</td>
            </tr>
          </tbody>
        </table>
      </span>
    </span>
    <div class="card-footer">
      <button
        type="button"
        class="col-xs-3 btn btn-primary mt-5"
        (click)="onClickExcelOutput()"
      >
        Get Excel Output
      </button>
    </div>
  </div>
</div>
