<div class="card">
  <span class="card-header">
    Adverts
    <span class="justify-content-right">
      <button class="btn btn-primary" (click)="onClickToggleLog()">
        Toggle Login
      </button>
    </span>
  </span>
  <span class="card-body">
    <div class="row" style="justify-content: center">
      <span class="col-md-2">
        <i class="fa fa-search mr-1" aria-hidden="true"></i>
        <label for="search-text"> Search</label>
        <input
          type="text"
          class="form-control"
          id="search-text"
          aria-describedby="search-text"
          [(ngModel)]="searchText"
          placeholder="Enter text to search"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-building-o mr-1" aria-hidden="true"></i>
        <label for="department"> Department</label>
        <input
          type="text"
          class="form-control"
          id="department"
          aria-describedby="search-text"
          [(ngModel)]="selectedDepartment"
          placeholder="Enter the department"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-id-card-o mr-1" aria-hidden="true"></i>
        <label for="position"> Position</label>
        <input
          type="text"
          class="form-control"
          id="position"
          aria-describedby="search-text"
          [(ngModel)]="selectedPosition"
          placeholder="Enter the position"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>
        <label for="province"> Province</label>
        <select name="province" id="province" class="form-control" #province>
          <option value="-1">Please select province.</option>
          <option
            *ngFor="let province of getProvinces()"
            value="{{ province.plaka }}"
          >
            {{ province.il }}
          </option>
        </select>
      </span>
      <span class="col-md-2 mt-2">
        <span class="row">
          <button class="btn btn-primary col-md-12" (click)="onClickFilter()">
            <i class="fa fa-filter" aria-hidden="true"></i>
            Filter
          </button>
        </span>
      </span>
      <span *ngIf="isAdmin" class="col-md-2 mt-2">
        <button class="btn btn-primary col-md-12" (click)="onClickAdd()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add
        </button>
      </span>
    </div>
  </span>
</div>

<div class="row justify-content-center display: flex; align-items: stretch;">
  <span
    *ngFor="let advert of theAdverts"
    class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
    style="padding: 16px"
  >
    <!-- Pipes will change -->
    <span class="card card-stats text-right" style="height: 15 vh">
      <span class="card-body row">
        <span class="col-md-4 col-xs-12">
          <img
            src="{{ advert.imageURL }}"
            alt=""
            class="icon-big text-center icon-warning"
            style="
              width: 100%;
              height: 85px;
              object-fit: contain;
              object-position: 45% 45%;
            "
          />
          <!-- Should show img nicely -->
        </span>
        <span class="col-md-8 col-xs-12 numbers">
          <p class="card-category">{{ advert.advertName }}</p>
          <p class="card-title">{{ advert.position }}</p>
          <p class="card-text" style="font-size: 17px">
            {{ advert.summary }}
          </p>
        </span>
      </span>
      <span class="card-footer">
        <hr />
        <span class="row stats" style="justify-content: space-evenly">
          <button
            type="button"
            class="btn btn-link col-md-3 col-xs-12"
            style="width: auto"
            (click)="onClickApply(advert.id)"
          >
            <span
              class="row"
              style="justify-content: center; vertical-align: middle"
            >
              <i
                *ngIf="isAdmin"
                class="fa fa-pencil"
                style="vertical-align: middle"
              ></i>
              <i
                *ngIf="!isAdmin"
                class="fa fa-handshake-o"
                style="vertical-align: middle"
              ></i>
              <p style="vertical-align: middle">
                {{ isAdmin ? "Edit" : "Apply" }}
              </p></span
            >
          </button>
          <p class="col-md-8 col-xs-12" style="text-align: end">
            {{ advert.location }}
          </p>
        </span>
      </span>
    </span>
  </span>
</div>
