<div class="card">
  <span class="card-body">
    <div class="row" style="justify-content: center">
      <span class="col-md-2">
        <i class="fa fa-search mr-1" aria-hidden="true"></i>
        <label for="search-text"> Search</label>
        <input
          type="text"
          class="form-control"
          id="search-text"
          aria-describedby="search-text"
          [(ngModel)]="searchText"
          placeholder="Enter text to search"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-building-o mr-1" aria-hidden="true"></i>
        <label for="department"> Department</label>
        <input
          type="text"
          class="form-control"
          id="department"
          aria-describedby="search-text"
          [(ngModel)]="selectedDepartment"
          placeholder="Enter the department"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-id-card-o mr-1" aria-hidden="true"></i>
        <label for="position"> Position</label>
        <input
          type="text"
          class="form-control"
          id="position"
          aria-describedby="search-text"
          [(ngModel)]="selectedPosition"
          placeholder="Enter the position"
          autofocus
        />
      </span>
      <span class="col-md-2">
        <i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>
        <label for="province"> Province</label>
        <select name="province" id="province" class="form-control" #province>
          <option value="-1">Please select province.</option>
          <option
            *ngFor="let province of getProvinces()"
            value="{{ province.plaka }}"
          >
            {{ province.il }}
          </option>
        </select>
      </span>
      <span class="col-md-2 mt-2">
        <span class="row">
          <button class="btn btn-primary col-md-5" style="font-size: x-small" (click)="onClickFilter()">
            <i class="fa fa-filter" aria-hidden="true"></i>
            Filter
          </button>
          <button class="btn btn-primary col-md-5" style="font-size: x-small" (click)="onClickClear()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Clear
          </button>
        </span>
      </span>
      <span *ngIf="isAdmin" class="col-md-2 mt-2">
        <button class="btn btn-primary col-md-12" (click)="onClickAdd()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add
        </button>
      </span>
    </div>
  </span>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
  class="card-group justify-content-center"
  style="display: flex; align-items: stretch"
>
  <span
    *ngFor="let advert of theAdverts"
    class="col-lg-4 col-md-6 col-sm-12"
    style="padding: 16px"
  >
    <span class="card card-stats text-right h-100" style="overflow: hidden">
      <span class="card-body col-12 row" style="overflow: hidden">
        <span class="col-md-4 col-xs-12">
          <img
            src="{{ advert.imageURL }}"
            onerror="this.src='../../../assets/img/waikiki.png'"
            alt=""
            class="icon-big text-center icon-warning"
            style="
              width: 100%;
              height: 85px;
              object-fit: contain;
              object-position: 45% 45%;
            "
          />
        </span>
        <span class="col-md-8 col-xs-11 numbers" style="overflow: hidden">
          <p class="card-category">{{ advert.advertName }}</p>
          <p class="card-title">{{ advert.position }}</p>
          <p class="card-text" style="font-size: 15px">
            {{ advert.summary }}
          </p>
        </span>
      </span>
      <span class="card-footer text-muted">
        <hr />
        <span class="row stats" style="justify-content: space-evenly">
          <button
            type="button"
            class="btn btn-link col-md-3 col-xs-12"
            style="width: auto"
            (click)="onClickApply(advert.id)"
          >
            <span
              class="row"
              style="justify-content: center; vertical-align: middle"
            >
              <i
                *ngIf="isAdmin"
                class="fa fa-pencil"
                style="vertical-align: middle"
              ></i>
              <i
                *ngIf="!isAdmin"
                class="fa fa-handshake-o"
                style="vertical-align: middle"
              ></i>
              <p style="vertical-align: middle">
                {{ isAdmin ? "Edit" : "Apply" }}
              </p></span
            >
          </button>
          <p
            class="col-md-8 col-xs-12"
            style="text-align: end; font-size: 13px"
          >
            {{ advert.location }}
          </p>
        </span>
      </span>
    </span>
  </span>
</div>
